# meow crontab
#
*       *       *       *       *       /home/meow/bostontraintrack/srv/monitor_srv_bus.pl 2>> /home/meow/bostontraintrack/srv/log/monitor_srv_bus.err >> /home/meow/bostontraintrack/srv/log/monitor_srv_bus.log
*       *       *       *       *       /home/meow/bostontraintrack/srv/monitor_srv_metro.pl 2>> /home/meow/bostontraintrack/srv/log/monitor_srv_metro.err >> /home/meow/bostontraintrack/srv/log/monitor_srv_metro.log

